{% extends 'base.html' %}

{% load staticfiles %}

{% block title%}
Sign Up for a Student or Teacher Account
{% endblock %}

{% block header %}
<h3>Sign Up for a Student or Teacher Account</h3>
{% endblock header %}

{% block content %}

{% if user.userprofile.is_undecided_user or user.userprofile.is_trial_user %}
<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-xs-12 col-md-4">

        <h3>Who gets this Special Rate?</h3>
        <p> If you are a student or teacher at any high-school, college,
        university or other educational facility you can get our reduced rate
        for an unlimited use of Sheldonize.  </p>

        <h3>How Much and What do I get?</h3> 
        <p>For a <b>9.99$</b> <b>one-time payment</b>, you will get: 
        <ul>
            <li>Unlimited use of this version of <a href="https://sheldonize.com">sheldonize.com</a> 
        </ul>

        <h3>Is this Safe?</h3> 
        <p>We handle payments using <a
            href="http://stripe.com">stripe</a>. This means that your credit
        card data is handled according to the highest security standards in the
        industry and that we (Sheldonize) do <strong>not</strong> store any of
        your credit card data. For more information about <a
            href="http://stripe.com">stripe</a>, check out their page on <a
            href="https://support.stripe.com/topics/security-and-fraud-prevention">security
            and fraud prevention</a>.

        <h3>``OK I'm convinced, I wanna have it!''</h3> 
    </div>
</div>

<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-xs-12 col-md-4 text-center">
        <form action="/subscriptions/signup_student/" method="POST">
            {% csrf_token %}
            <script
                src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key={{ stripe_public_key }}
                data-amount="999"
                data-name="Sheldonize"
                data-description="Get a Student or Teacher Account"
                data-image="http://sheldy-s3-us-west-1.s3.amazonaws.com/app/img/profile.png"
                data-panel-label="Pay Once:"
                data-email={{ user.email }}
                data-label="Pay Special Rate Now"
                data-allow-remember-me=false>
            </script>
        </form>
    </div>
</div>


<div class="row">
    <br/>
    <br/>
</div>


<div class="row">
    <div class="col-xs-12 text-right">
        <a href="http://stripe.com"><img src="{% static "app/img/stripe_small.png" %}" alt="Powered by Stripe"/></a>
    </div>
</div>

{% elif user.userprofile.is_cancelled_user %}
<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-xs-12 col-md-4">
        <p>Your pro subscription was cancelled, either by you or by us (for
        example, due to failed payment attempts). If you feel this is an error,
        please contact <a
            href="mailto:support@sheldonize.com">support@sheldonize.com</a> and we'll
        solve this for you!</p>
    </div>
</div>

{% else %}

<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-xs-12 col-md-4">
        <p>Thanks; all is good! Dive right back in with your <a href="/app/tasks/">Tasks</a>.</p>
    </div>
</div>
{% endif %}

{% endblock %}

{% block morejs %}
<!-- Google Analytics -->
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
     (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
     m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
     })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-53163078-1', 'auto');
ga('send', 'pageview');

</script>
{% endblock %}
