{% extends "base.html" %}

{% block title %}
Password Reset Email Sent
{% endblock %}

{% block heading %}
<h3><span class="glyphicon glyphicon-lock"></span> Password Reset Email Sent</h3>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-xs-12 text-center">
        <p>We have emailed you instructions for resetting your password. You should be receiving them shortly.</p>
        <p>If you do not receive an email, please make sure you have entered the address you registered with, or check your spam folder.</p>
    </div>
</div>
{% endblock %}
