{% load crispy_forms_tags %}

<div class="row">
    <div class="col-md-12">
        {% crispy form %}
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <br/>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <div class="hline"><span>Note</span></div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <br/>
        <div id="meeting-comment" data-provide="markdown" meeting-id={{ form.instance.id }}>
            {% if form.instance.note %}
            {{ form.instance.note }}
            {% else %}
            _Try editing this note (you can format it using [Markdown](http://daringfireball.net/projects/markdown/))._
            {% endif %}
        </div>
        <br/>
    </div>
</div>

<div class="row">
    <div class="col-md-6 text-left">
        <i id="save-status"></i>
    </div>
    <div class="col-md-6 text-right">
        <button id="meeting-edit" type="button" class="btn btn-sheldonize btn-sheldonize-default">Edit Note</button>
    </div>
</div>

