{% extends 'base.html' %}
{% load staticfiles %}

{% block customcss %}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jstree/3.1.1/themes/default/style.min.css" />
<link rel="stylesheet" href="{% static "app/css/projects.css" %}">
{% endblock %}

{% load crispy_forms_tags %}

{% block title %}
Projects
{% endblock %}

{% block beforecontent %}
{% if addprojectform %}
<!-- Make sure that from tablets on (sm), the form is filling the full row -->
<div class="col-sm-12">
    {% crispy addprojectform %}
</div>
{% endif %}
{% endblock beforecontent %}

{% block filtercontent %}
{% endblock filtercontent %}


{% block header %}
<h3>Projects</h3>

{% endblock header %}


{% block content %}



{% if projects %}

<div id="projecttree"></div>

{% else %}

<div class="row">
    <div class="col-xs-12 text-center">
        <span class="glyphicon glyphicon-arrow-up"></span>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 text-center">
        (no projects)
    </div>
</div>


{% endif %}

<!-- Stuff for django-fm. To attach in modals. Originally this is included
     fm/modal.html but we redo that. -->
{% include "app/modals.html" %}
<!-- end Stuff for django-fm -->



{% endblock %}

{% block morejs %}
<script src="//cdnjs.cloudflare.com/ajax/libs/jstree/3.1.1/jstree.min.js"></script>
<script src="{% static "app/js/projects.js" %}"></script>
{% endblock %}

