{% extends 'base.html' %}

{% load staticfiles %}

{% block customcss %}
<link rel='stylesheet' href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.1.1/fullcalendar.css">
<link rel="stylesheet" href="{% static "app/css/schedule.css" %}">
<link rel="stylesheet" href="{% static "bootstrap-tour/css/boootstrap-tour-standalone.min.css" %}">
{% endblock %}

{% block title %}
Schedule
{% endblock %}

{% block header %}
<h3>Schedule</h3>
{% endblock header %}

<!-- For the schedule we are rewriting the root --> 
{% block root %}
<div class="container-fluid sheldonize-container">
    <div class="row">
        <div class="col-xs-12 text-center">
            <div class="hlinetop"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <ul class="nav nav-pills nav-pills-sheldonize">
               <li class="pull-right"><form action="." method="post">
                    {% csrf_token %}
                    {% if device_type == 'mobile' %}
                    <button type="submit" class="btn btn-sheldonize btn-sheldonize-primary glyphicon glyphicon-cloud-download" name="get-google-calendar" id="get-google-calendar"><span style="font-family: 'Fira Sans', sans-serif;">&nbsp;GCal</span></button>
                    {% else %}
                    <button type="submit" class="btn btn-sheldonize btn-sheldonize-primary glyphicon glyphicon-cloud-download" name="get-google-calendar" id="get-google-calendar">&nbsp;<span style="font-family: 'Fira Sans', sans-serif;">Google Calendar</span></button>
                    {% endif %}

                </form></li>
                <li class="pull-right"><form action="." method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-sheldonize btn-sheldonize-orange glyphicon glyphicon-refresh" name="calculate-schedule" id="calculate-schedule">&nbsp;<span style="font-family: 'Fira Sans', sans-serif;">Calculate</span></button>
                </form></li>
            </ul>
            <br/>
        </div>
    </div>

    <div class="sheldonize-content">

        {% if device_type == 'mobile' %}

        {% if current %}
        <div class="row">
            <div class="col-xs-12">
                <h3>Next Up</h3>
                <div class="current-item {{ current.type }}">
                    <a href="{{ current.url }}"><i>{{ current.from }} - {{ current.to }}</i></br>
                        <h4>{{ current.name }}</h4></a>
                </div>
            </div>
        </div>
        {% if next_up %}
        <div class="row">
            <div class="col-xs-12">
                <h3>Followed By</h3>
                <div class="next-item {{ next_up.type }}">
                    <a href="{{ next_up.url }}">
                        <i>{{ next_up.from }} - {{ next_up.to }}</i></br>
                        <h4>{{ next_up.name }}</h4></a>
                </div>
            </div>
        </div>
        {% endif %}
        {% else %}
        <div class="row">
            <div class="col-xs-12 text-center">
                <span class="glyphicon glyphicon-arrow-up"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-center">
                (no upcoming schedule items - try to calculate)
            </div>
        </div>
        {% endif %}

        {% else %}
        <div class="row">
            <div class="col-xs-12 text-center">
                <div id='calendar'></div>
            </div>
        </div>
        {% endif %}

        <div class="row">
            <br/>
            <br/>
        </div>
        <div class="row">
            <form action="." method="post">
                <div class="col-md-10 col-xs-7">
                </div>
                <div class="col-md-2 col-xs-5 text-right">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-sheldonize btn-sheldonize-default glyphicon glyphicon-trash" name="delete-schedule" id="delete-schedule"><span style="font-family: 'Fira Sans', sans-serif;">&nbsp;Clear</span></button>
                </div>
            </form>
        </div>



    </div>
      <div class="row">
        <div class="col-xs-12 text-center">
          <div class="hlinebottom"><span>v200</span></div>
         <div class="love">Show us your <span class="glyphicon glyphicon-heart"></span> by <a href="/subscriptions/signup_donate">donating</a></div>
        </div>
      </div>
 
    <div class="row">
        <div class="col-xs-12 text-center">

            <div class="company">Sheldonize, LLC.  &copy; 2014-2015 | <a href="/app/terms/">Terms of Use</a> | <a href="/app/privacy/">Privacy Policy</a></div>
        </div>
    </div>
</div>

<!-- Stuff for django-fm. To attach in modals. Originally this is included
     fm/modal.html but we redo that. -->
{% include "app/modals.html" %}
<!-- end Stuff for django-fm -->


{% endblock root %}

{% block morejs %}
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.6.0/moment.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.1.1/fullcalendar.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

<!-- bootstrap-tour -->
<script src="{% static "bootstrap-tour/js/bootstrap-tour-standalone.min.js" %}"></script>
<script src="{% static "app/js/sheldonize_tour.js" %}"></script>


<script src="{% static "app/js/schedule.js" %}"></script>
<!-- now call the function in schedule.js that passes the right event feedurl
     to the function in schedule.js -->
<script>
    setup_schedule("{{ eventfeed_url }}");
</script>
{% endblock morejs %}

