{% extends 'base.html' %}
{% load staticfiles %}

{% block customcss %}
<link rel="stylesheet" href="{% static "app/css/table.css" %}">
<link rel="stylesheet" href="{% static "bootstrap-tour/css/boootstrap-tour-standalone.min.css" %}">
{% endblock %}

{% load crispy_forms_tags %}

{% block title %}
Tasks
{% endblock %}

{% block beforecontent %}
{% if addtaskform %}
<!-- Make sure that from tablets on (sm), the form is filling the full row -->
<div class="col-sm-12">
    {% crispy addtaskform %}
</div>
{% endif %}
{% endblock beforecontent %}

{% block filtercontent %}
<div class="col-xs-12">
    {% if what_tasks.incomplete %}
    <ul class="nav nav-pills nav-pills-sheldonize">
        {% if what_tasks.when = 'NoTNoW' %}
        <li class="active"><a href="/app/tasks/incomplete/inbox/">Inbox</a></li>
        <li><a id="today_tab" href="/app/tasks/incomplete/today/">Today</a></li>
        <li><a id="thisweek_tab" href="/app/tasks/incomplete/thisweek/">This Week</a></li>
        <li><a href="/app/tasks/incomplete/someday/">Someday/Maybe</a></li>
        {% elif what_tasks.when = 'T' %}
        <li><a href="/app/tasks/incomplete/inbox/">Inbox</a></li>
        <li class="active"><a href="/app/tasks/incomplete/today/">Today</a></li>
        <li><a href="/app/tasks/incomplete/thisweek/">This Week</a></li>
        <li><a href="/app/tasks/incomplete/someday/">Someday/Maybe</a></li>
        {% elif what_tasks.when = 'W' %}
        <li><a href="/app/tasks/incomplete/inbox/">Inbox</a></li>
        <li><a href="/app/tasks/incomplete/today/">Today</a></li>
        <li class="active"><a href="/app/tasks/incomplete/thisweek/">This Week</a></li>
        <li><a href="/app/tasks/incomplete/someday/">Someday/Maybe</a></li>
        {% elif what_tasks.when = 'Z' %}
        <li><a href="/app/tasks/incomplete/inbox/">Inbox</a></li>
        <li><a href="/app/tasks/incomplete/today/">Today</a></li>
        <li><a href="/app/tasks/incomplete/thisweek/">This Week</a></li>
        <li class="active"><a href="/app/tasks/incomplete/someday/">Someday/Maybe</a></li>
        {% endif %}
        {% if what_tasks.when = 'T' or what_tasks.when = 'W' %}
        <li class="pull-right"><form action="." method="post">
            {% csrf_token %}
            {% if what_tasks.when = 'T' %}
                {% if request.device_type = 'mobile' %}
                <button type="submit" class="btn btn-sheldonize btn-sheldonize-green" name="spawn-tasks-daily" id="spawn-habits">&nbsp;Daily Habits</button>
                {% else %}
                <button type="submit" class="btn btn-sheldonize btn-sheldonize-green" name="spawn-tasks-daily" id="spawn-habits">&nbsp;Pull in Daily Habits</button>
                {% endif %}
            {% elif what_tasks.when = 'W' %}
                {% if request.device_type = 'mobile' %}
                <button type="submit" class="btn btn-sheldonize btn-sheldonize-green" name="spawn-tasks-weekly" id="spawn-habits">&nbsp;Weekly Habits</button>
                {% else %}
                <button type="submit" class="btn btn-sheldonize btn-sheldonize-green" name="spawn-tasks-weekly" id="spawn-habits">&nbsp;Pull in Weekly Habits</button>
                {% endif %}
            {% endif %}
 
        </form></li>

        {% if table.data %}
        <li class="pull-right"><form action="." method="post">
            {% csrf_token %}
            {% if request.device_type = 'mobile' %}
            <button type="submit" class="btn btn-sheldonize btn-sheldonize-orange" name="calculate-schedule" id="calculate-schedule">&nbsp;Schedule!</button>
            {% else %}
            <button type="submit" class="btn btn-sheldonize btn-sheldonize-orange" name="calculate-schedule" id="calculate-schedule">&nbsp;Schedule This!</button>
            {% endif %}
        </form></li>
        {% endif %}
        {% endif %}
    </ul>
    {% endif %}


</div>
{% endblock filtercontent %}


{% block header %}
<h3>Tasks</h3>

{% endblock header %}


{% block content %}



{% if table.data %}

<form action="." method="post">
    {% csrf_token %}
    <div class="row">
        <!-- Table -->
        <div class="col-xs-12">
            {% include "app/sheldonize_table.html" %}
        </div>
    </div>

    <div class="row">
        <div class="col-md-2 col-xs-5">
            <div class="dropup">
                <button class="btn btn-sheldonize btn-sheldonize-primary dropdown-toggle" type="button" id="dropdown-markedactions" data-toggle="dropdown">
                    Apply
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdown-markedactions">
                    {% if what_tasks.incomplete %}
                    <!-- Non-Archived stuff --> 
                    {% if what_tasks.when = 'NoTNoW' %}
                    <!-- Inbox -->
                    <li role="presentation"><button class="btn btn-sheldonize btn-link btn-sheldonize-link" type="submit" role="menuitem" id="complete-marked-tasks" name="complete-marked-tasks">Done</button></li>
                    <li role="presentation" class="divider"></li>
                    <li role="presentation"><button class="btn btn-sheldonize btn-link btn-sheldonize-link" type="submit" role="menuitem" id="thisweek-marked-tasks" name="thisweek-marked-tasks">To Do This Week</button></li>
                    <li role="presentation"><button class="btn btn-sheldonize btn-link btn-sheldonize-link" type="submit" role="menuitem" id="today-marked-tasks" name="today-marked-tasks">To Do Today</button></li>
                    <li role="presentation"><button class="btn btn-sheldonize btn-link btn-sheldonize-link" type="submit" role="menuitem" id="someday-marked-tasks" name="someday-marked-tasks">To Do Someday/Maybe</button></li>
                    <li role="presentation" class="divider"></li>
                    <li role="presentation"><button class="btn btn-sheldonize btn-link btn-sheldonize-link" type="submit" role="menuitem" id="create-habit" name="create-habit">Make it a Habit</button></li>
                    {% elif what_tasks.when = 'T' %}
                    <!-- Today -->
                    <li role="presentation"><button class="btn btn-sheldonize btn-link btn-sheldonize-link" type="submit" role="menuitem" id="complete-marked-tasks" name="complete-marked-tasks">Done</button></li>
                    <li role="presentation" class="divider"></li>
                    <li role="presentation"><button class="btn btn-sheldonize btn-link btn-sheldonize-link" type="submit" role="menuitem" id="thisweek-marked-tasks" name="thisweek-marked-tasks">To Do This Week</button></li>
                    <li role="presentation"><button class="btn btn-sheldonize btn-link btn-sheldonize-link" type="submit" role="menuitem" id="someday-marked-tasks" name="someday-marked-tasks">To Do Someday/Maybe</button></li>
                    <li role="presentation" class="divider"></li>
                    <li role="presentation"><button class="btn btn-sheldonize btn-link btn-sheldonize-link" type="submit" role="menuitem" id="nowhen-marked-tasks" name="nowhen-marked-tasks">Move to Inbox</button></li>
                    <li role="presentation" class="divider"></li>
                    <li role="presentation"><button class="btn btn-sheldonize btn-link btn-sheldonize-link" type="submit" role="menuitem" id="create-habit" name="create-habit">Make it a Habit</button></li>
                    {% elif what_tasks.when = 'W' %}
                    <!-- This Week -->
                    <li role="presentation"><button class="btn btn-sheldonize btn-link btn-sheldonize-link" type="submit" role="menuitem" id="complete-marked-tasks" name="complete-marked-tasks">Done</button></li>
                    <li role="presentation" class="divider"></li>
                    <li role="presentation"><button class="btn btn-sheldonize btn-link btn-sheldonize-link" type="submit" role="menuitem" id="today-marked-tasks" name="today-marked-tasks">To Do Today</button></li>
                    <li role="presentation"><button class="btn btn-sheldonize btn-link btn-sheldonize-link" type="submit" role="menuitem" id="someday-marked-tasks" name="someday-marked-tasks">To Do Someday/Maybe</button></li>
                    <li role="presentation" class="divider"></li>
                    <li role="presentation"><button class="btn btn-sheldonize btn-link btn-sheldonize-link" type="submit" role="menuitem" id="nowhen-marked-tasks" name="nowhen-marked-tasks">Move to Inbox</button></li>
                    <li role="presentation" class="divider"></li>
                    <li role="presentation"><button class="btn btn-sheldonize btn-link btn-sheldonize-link" type="submit" role="menuitem" id="create-habit" name="create-habit">Make it a Habit</button></li>
                    <!-- Someday -->
                    {% elif what_tasks.when = 'Z' %}
                    <li role="presentation"><button class="btn btn-sheldonize btn-link btn-sheldonize-link" type="submit" role="menuitem" id="complete-marked-tasks" name="complete-marked-tasks">Done</button></li>
                    <li role="presentation" class="divider"></li>
                    <li role="presentation"><button class="btn btn-sheldonize btn-link btn-sheldonize-link" type="submit" role="menuitem" id="thisweek-marked-tasks" name="thisweek-marked-tasks">To Do This Week</button></li>
                    <li role="presentation"><button class="btn btn-sheldonize btn-link btn-sheldonize-link" type="submit" role="menuitem" id="today-marked-tasks" name="today-marked-tasks">To Do Today</button></li>
                    <li role="presentation" class="divider"></li>
                    <li role="presentation"><button class="btn btn-sheldonize btn-link btn-sheldonize-link" type="submit" role="menuitem" id="nowhen-marked-tasks" name="nowhen-marked-tasks">Move to Inbox</button></li>
                    <li role="presentation" class="divider"></li>
                    <li role="presentation"><button class="btn btn-sheldonize btn-link btn-sheldonize-link" type="submit" role="menuitem" id="create-habit" name="create-habit">Make it a Habit</button></li>
                    {% endif %}
                    {% else %}
                    <!-- Archive -->
                    <li role="presentation"><button class="btn btn-sheldonize btn-link btn-sheldonize-link" type="submit" role="menuitem" id="uncomplete-marked-tasks" name="uncomplete-marked-tasks">Move to Inbox</button></li>

                    {% endif %}
                </ul>
            </div>

        </div>
        <div class="col-md-8 col-xs-2">

        </div>
        <div class="col-md-2 col-xs-5 text-right">
            <button type="submit" name="delete-marked-tasks" class="btn btn-sheldonize btn-sheldonize-default" id="delete-marked-tasks">Delete</button>
        </div>
    </div>
</form>

{% else %}

<div class="row">
    <div class="col-xs-12 text-center">
        <span class="glyphicon glyphicon-arrow-up"></span>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 text-center">
        (no tasks)
    </div>
</div>


{% endif %}

<!-- Stuff for django-fm. To attach in modals. Originally this is included
     fm/modal.html but we redo that. -->
{% include "app/modals.html" %}
<!-- end Stuff for django-fm -->


{% endblock %}

{% block morejs %}
{% if what_tasks.incomplete %}
<script src="{% static "app/js/tasks.js" %}"></script>
{% else %}
<script src="{% static "app/js/archive-tasks.js" %}"></script>
{% endif %}

<!-- bootstrap-tour -->
<script src="{% static "bootstrap-tour/js/bootstrap-tour-standalone.min.js" %}"></script>
<script src="{% static "app/js/sheldonize_tour.js" %}"></script>

<!-- After everything is set up you are going to set up the tour if need be
     when it is the first visit or when the user gets guided to the first visit page.
-->
{% if what_tasks.first %}
<!-- in this case we restart the tour -->
<script type="text/javascript">
  $(function() {
      tour.restart();
      });
</script>

{% endif %}
{% endblock %}

