#calendar {
}

.calculate-schedule-container {
  margin-bottom: 20px;
}

/* Header on top  of calendar indicating period. */
.fc-toolbar > .fc-center > h2 {
}

/* Day header */
th.fc-widget-header {
}

/* Day number on months */
.fc-day-number {
}


.fc-agenda th.fc-agenda-axis {
}


.fc-time {
  font-weight: 400;
}

/* The buttons */
.fc-button {
  color: #444;
  margin-bottom: 15px;
  border-radius: 4px;
  text-decoration: none;
  background: none repeat scroll 0px 0px transparent;
  margin-right: none;
}

.fc-button:hover, .fc-button:focus {
  color: #000000;
}

/* The buttons in the toolbar -- today, month, etc */
.fc-toolbar .fc-state-default {
  border-color: white;
  text-shadow: none;
  box-shadow: none;
}

.fc-toolbar .fc-state-active {
  color: #ecf0f1;
  border-color: white;
  background: none repeat scroll 0% 0% #444;
}


/* today highlight (yellow normally) */
.fc-unthemed .fc-today { 
  background: #ecf0f1;
}


/* height of slots is by default 20px */
/*
.fc-agenda-slots td div {
  height:23px;
}
*/


h3, h4, h5, h6 {
}

div.meeting {
  color: #fff;
  background-color: #e67e22;
  border-radius: 4px;
  padding: 10px;
}

div.scheduleitem {
  color: #fff;
  background-color: #428BCA;
  border-radius: 4px;
  padding: 10px;
}

.meeting  a, .scheduleitem a {
  color: #fff;
}

.meeting  a:hover, .scheduleitem a:hover, 
.meeting  a:focus, .scheduleitem a:focus {
  text-decoration: none;
}

/* Make sure the font of links in the schedule is again Fira Sans */
a > .fc-content > .fc-title {
  font-family: 'Fira Sans', Helvetica, Arial, sans-serif;
}


