td.id, th.id {
  display:none;
}

/* do not show certain column headers */
th.delete, th.done, th.name, th.selection, th.habit  {
  visibility:hidden;
}

/*
.label {
  display: none;
}
*/

.asteriskField {
  display: none;
}


/*
 From https://github.com/bradleyayers/django-tables2/issues/141
 For pagination:
 */

.table-container  ul.pagination {
}

.table-container  div.total_items {
}

.table-container ul.pagination li.active a {
  background-color: #444444; 
  border-color: #444444;
  color: #ecf0f1;
}


.table-container ul.pagination li a {
  color: #444444;
  border-color: #ecf0f1;
}

.table-container ul.pagination li:not(.active) a:hover {
  background-color: #ecf0f1;
  border-color: #ecf0f1;
  color: #444444;
}


.table-hover > tbody > tr:hover > td {
  cursor: pointer;
}

/* extra space between rows */
table {
  border-spacing: 0 0.5em; 
  border-collapse: separate;
}


/* The trash links */
a.table_trash {
  color: #444444; 
}

a.table_trash:hover, a.table_trash:focus {
  color: #000; 
}


th > a {
  color: #444444; 
}

th > a:hover, th:focus {
  color: #000;
  text-decoration: none;
}

tr > th > a > span.caret {
  font-weight: 250;
  color: #D4D8D9;
}

.table > thead > tr > th > a {
  font-weight: 400;
  color: #a1a1a1;
  font-size: 11px;
  font-family: 'Fira Mono';
}



/* do not separate lines in table. */
.table > tbody > tr > td {
  border-color: #ececec;
}

.table > tbody > tr.new_thing > td {
  border-top: none;
  background-color: #43AC6A;
  color: #fff;
}
.table > tbody > tr > td:first-child {
  border-left: 1px solid #ececec;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.table > tbody > tr > td:last-child {
  border-right: 1px solid #ececec;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}


/* Remove fat line from table header. */
.table > thead > tr > th {
  border-bottom: none;
}


/* style of everything in tables except name */
.table > tbody > tr > td.topic, 
.table > tbody > tr > td.duration, 
.table > tbody > tr > td.comes_after, 
.table > tbody > tr > td.due, 
.table > tbody > tr > td.created, 
.table > tbody > tr > td.start, 
.table > tbody > tr > td.end, 
.table > tbody > tr > td.repeat, 
.table > tbody > tr > td.foreign, 
.table > tbody > tr > td.when, 
.table > tbody > tr > td.priority {
  font-weight: '300';
  font-family: 'Fira Sans', sans-serif;
  font-style: italic;
}



/* Hovering over habit rows */

/*
tr.habit {
  color: #fff;
  background-color: #43AC6A;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  border-radius:10px;
}

.table-hover > tbody > tr.habit:hover, 
.table-hover > tbody > tr.habit:hover > td {
  color: #fff;
  background-color: #368A55;
}
*/

