<!DOCTYPE html>

{% load staticfiles %}
{% load tz %}

<html>
  <head profile="http://www.w3.org/2005/10/profile">
    <link rel="icon" type="image/x-icon" href="{% static "app/img/favicon.ico" %}">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Let Sheldonize plan your work so you can focus on getting things done.">
    <meta name="keywords" content="todo, to-do, time management, task management, schedule, scheduling, automatic, planning, tasks, meetings, organize, plan, automated"/>
    <meta name="author" content="Sheldonize, LLC">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Sheldonize{% endblock %}</title>

    <!-- It seems that Jquery needs to be loaded in the head (for datetimepicker to work in forms otherwise $ not recognized) -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

    <!-- Common CSS -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">


    <!-- Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Fira+Mono:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Fira+Sans:400,300italic' rel='stylesheet' type='text/css'>

    <!-- Fontawesome -->
    <link rel="stylesheet" type="text/css" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
     



    <link rel="stylesheet" href="{% static "app/css/style.css" %}">
    <link rel="stylesheet" href="{% static "app/css/search.css" %}">

    {% block customcss %}{% endblock %}

  </head>

  <body>
    <nav class="navbar navbar-sheldonize" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          {% if user.is_authenticated %}
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          {% endif %}
          <a class="navbar-brand" href="/app/">
            sheldonize
          </a>
        </div>

        {% if user.is_authenticated %}
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li id="tasks-nav"><a href="/app/tasks/incomplete/">Tasks</a></li>
            <li id="meetings-nav"><a href="/app/meetings/future/">Meetings</a></li>
            <li id="projects-nav"><a href="/app/projects/">Projects</a></li>
            <li id="habits-nav"><a href="/app/habits/">Habits</a></li>
            <li id="schedule-nav"><a href="/app/schedule/">Schedule</a></li>
            <li id="preferences-nav"><a href="/app/preferences/">Preferences</a></li>
            {% if user.userprofile.is_trial_user %}
            <li id="winmore-nav"><a href="/users/invite/">Up your Trial Days</a></li>
            {% endif %}
            <!-- Archive -->
            <li id="archive-nav" class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Archive <b class="caret"></b></a> 
            <ul class="dropdown-menu">
              <li><a href="/app/tasks/done/">Tasks</a></li>
              <li><a href="/app/meetings/past/">Meetings</a></li>
            </ul>
            </li>
            <li id="stats-nav"><a href="/app/stats/">Stats</a></li>

            <li>
            <form class="search-container" action="/app/search/">
              {% csrf_token %}
              <input id="search-box" type="text" class="search-box" name="q" placeholder="Search tasks and meetings"/>
              <label for="search-box"><span class="glyphicon glyphicon-search search-icon"></span></label>
              <input type="submit" id="search-submit" />
            </form>
            </li>

          </ul>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              {% if user.userprofile.is_twitter_user %}
              <img width="23px" src="{% static "app/img/twitter_small.png" %}" alt="twitter" title="You're connected with your twitter account."/>
              {% elif user.userprofile.is_google_user %}
              <img width="19px" src="{% static "app/img/google_small.png" %}" alt="google" title="You're connected with your google+ account."/>
              {% else %}
              <span class="glyphicon glyphicon-user"></span>
              {% endif %}
              <sup>{{ user.userprofile.get_usertype_display }}
                {% if user.userprofile.usertype == 1 %}
                / {{ user.userprofile.daysleft }} days left / {{ user.userprofile.success_invites }} accepted invites
                {% endif %}
              </sup>
              &nbsp;
              {{ user }}
              <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="{% url 'userprofile' %}">Settings</a></li>
              <li><a href="{% url 'tasks_firstvisit' %}">Take Tour</a></li>
              <li><a href="{% url 'support' %}">Get Help</a></li>
              {% if not user.userprofile.is_social %}
              <li><a href="{% url 'password_change' %}">Change Password</a></li>
              {% endif %}
              {% if user.userprofile.is_pro_user %}
              <li><a href="{% url 'change_subscription' %}">Your Pro Subscription</a></li>
              {% endif %}
              {% if user.userprofile.is_trial_user %}
              <li><a href="{% url 'invite' %}">Up your Trial Days</a></li>
              {% endif %}
              {% if user.userprofile.is_trial_user or user.userprofile.is_undecided_user %}
              <li><a href="{% url 'signup_subscription' %}">Upgrade to Pro</a></li>
              {% endif %}
              <li class="divider"></li>
              <li><a href="{% url 'logout_v' %}">Log Out</a></li>
            </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
        {% endif %}
      </div><!-- /.container -->
    </nav>



    {% block root %}
    <div class="container sheldonize-container">
      <div class="row">
        {% block beforecontent %}{% endblock %}
      </div>
      <div class="row">
        <div class="col-xs-12 text-center">
          </br>
          </br>
          <div class="hlinetop"></div>
        </div>
      </div>
      <div class="row">
        {% block filtercontent %}{% endblock %}
      </div>
      <div class="sheldonize-content">
        {% block content %}{% endblock %}
      </div>
      {% if user.is_authenticated %}
      <div class="row">
        <div class="col-xs-12 text-center">
          <br/>
          <br/>
          <br/>
          <div class="hlinebottom"><span>v180</span></div>
         <div class="love">Show us your <span class="glyphicon glyphicon-heart"></span> by <a href="/subscriptions/signup_donate">donating</a></div>
        </div>
      </div>
      {% endif %}
      <div class="row">
        <div class="col-xs-12 text-center">
          <br/>
          <br/>
          <br/>
          <br/>
          <br/>
          <br/>
          <br/>
          <br/>
          <br/>
          <br/>
          <br/>
          <br/>
          <br/>
          <br/>
          <br/>
          <br/>
          <br/>
          <br/>
          <br/>
          <div class="company">Sheldonize, LLC.  &copy; 2014-2015 | <a href="/app/terms/">Terms of Use</a> | <a href="/app/privacy/">Privacy Policy</a></div>
        </div>
      </div>


      {% endblock root %}

      <!-- Common JS -->

      <!-- Latest compiled and minified JavaScript -->
      <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
      <!-- For detecting the timezone, see http://pellepim.bitbucket.org/jstz/ -->
      <script src="//cdnjs.cloudflare.com/ajax/libs/jstimezonedetect/1.0.4/jstz.min.js"></script>

      <!-- For counter on fields -->
      <script src="{% static "app/js/bootstrap-maxlength.min.js" %}"></script>
      <!-- for growl-like notifications; https://github.com/ifightcrime/bootstrap-growl; added 18 July 2014 -->
      <script src="{% static "app/js/jquery.bootstrap-growl.min.js" %}"></script>

      <script src="{% static "app/js/sheldonize.js" %}"></script>


      {% block morejs %}{% endblock %}

      <!-- And Local stuff -->
      {% if messages %}
      {% for message in messages %}
      <script type="text/javascript"> 
        $( document ).ready(function() {
            var msg =  "{{ message }}"
            var t = "{{ message.tags }}"
            $.bootstrapGrowl(msg, {
type: t,
ele: "body",
offset: {from: 'top', amount: 400},
align: 'right',
width: 'auto',
delay: 6000,
allow_dismiss: false,
});
            });
      </script>
      {% endfor %}
      {% endif %}



    </body>
  </html>






