{% extends 'base.html' %}
{% load staticfiles %}


{% block title %}
Sheldonize
{% endblock %}

{% block header %}
<h3>Sheldonize</h3>
{% endblock header %}



{% block content %}

<div class="row">
    <div class="col-xs-12 text-right">
        <a id="signuplink" href="/users/signup/">Sign-up for free trial</a>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a id="signuplink" href="/app/pricing/">Pricing</a>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/users/login/" rel="nofollow">Log in</a> 
    </div>
</div>

<div class="row">
    <br/>
</div>


<div class="jumbotron" style="background-color: #ecf0f1">

    <h1 style="color: #444444">Sheldonize</h1>
    <p style="color: #444444; font-weight:300">Let Sheldonize plan your work so you can focus on getting things done.
    </p>
    {% if request.device_type = 'desktop' or request.device_type = 'tablet' %}
    <img class="img-responsive" style="width:45%; height:auto;" align="right" src="{% static "app/img/desktop_view.png" %}"/>
    {% endif %}
    <p><button id="signupbutton" type="button" onclick="location.href=&quot;{% url 'signup' %}?timezone=&quot; + this.value ;" class="btn btn-primary">Start Planning &raquo;</button>
    <a href="//fast.wistia.net/embed/iframe/kajgrymlz3?popover=true" class="wistia-popover[height=720,playerColor=7b796a,width=1280]"><button class="btn btn-default">Watch Video &raquo;</button></a>
    <script charset="ISO-8859-1" src="//fast.wistia.com/assets/external/popover-v1.js"></script>
    </p>
</div>

{% if request.device_type = 'mobile' %}
<div class="row">
    <div class="col-xs-12 col-md-6 text-center">
        <img class="img-responsive" src="{% static "app/img/mobile_view.png" %}"/>
    </div>
</div>
{% endif %}

<div class="row">
    <div class="col-xs-12 col-md-6">
        <h3>What is this?</h3>
        <p>
        Sheldonize is a task manager that automatically schedules your to-dos
        on your calendar.  Traditional task managers are just
        lists. They require you to do all the hard work of manually planning your to-dos yourself.
        However, with Sheldonize that planning happens automatically: Sheldonize checks
        your existing meetings, and plans your work around them, while making
        sure deadlines for your tasks are met. The planning is completely
        flexible and happens with the click of a button, such that when
        meetings get shifted or more important stuff comes in, Sheldonize can
        quickly reschedule your work.  
        </p>
        <p>
        If you
        currently keep your meetings in Google Calendar, then you can continue
        doing so: Sheldonize pulls in those calendar events and schedules
        around them.
        </p>
        <p>If you like the sound of that, check
        out our 3-minute <a
            href="http://iwokeupthismorning.net/2014/10/13/sheldonize-organizes-todos-automatically-on-a-calendar/"/>overview
            video</a> on our sister blog, <a
            href="http://iwokeupthismorning.net">I Woke Up This Morning</a>.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-md-6">
        <h3>Who is this?</h3>
        <p>
        This is a 2-person shop based in San Francisco by way of an Austrian
        and a Belgian (combinations do not get any better in our opinion). 
        This is <a href="http://stijnheymans.net">your developer</a>; he keeps you up to date via <a
            href="https://twitter.com/sheldonize">Twitter</a>, <a
            href="https://plus.google.com/+Sheldonize">Google+</a>, or <a
            href="https://facebook.com/sheldonize">Facebook</a>. Come check us out!
        </p>

        <p class="text-right">
        &mdash;The Sheldonize Team
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-3">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="item active">
                    <div class="thumbnail">
                        <img src="{% static "app/img/carousel_schedule.png" %}" alt="Slide1">
                        <div class="caption">
                            <h3>Automatic Scheduling</h3>
                            <p>We schedule your tasks automatically on your calendar.</p>
                        </div>
                    </div>
                </div><!-- End Item -->
                <div class="item">
                    <div class="thumbnail">
                        <img src="{% static "app/img/carousel_mobile.png" %}" alt="Slide2">
                        <div class="caption">
                            <h3>Mobile View</h3>
                            <p>On your mobile, we show you a quick view of what's up next.</p>
                        </div>
                    </div>
                </div><!-- End Item -->
                <div class="item">
                    <div class="thumbnail">
                        <img src="{% static "app/img/carousel_inbox.png" %}" alt="Slide3">
                        <div class="caption">
                            <h3>Inbox</h3>
                            <p>Use the Inbox to quickly dump tasks without further planning them, GTD-style.</p>
                        </div>
                    </div>
                </div><!-- End Item -->
                <div class="item">
                    <div class="thumbnail">
                        <img src="{% static "app/img/carousel_estimate.png" %}" alt="Slide4">
                        <div class="caption">
                            <h3>Task Estimation</h3>
                            <p>Estimate how long a task will take and Sheldonize will take that into account.</p>
                        </div>
                    </div>
                </div><!-- End Item -->

                 <div class="item">
                    <div class="thumbnail">
                        <img src="{% static "app/img/carousel_after.png" %}" alt="Slide5">
                        <div class="caption">
                            <h3>Task Order</h3>
                            <p>Indicate what tasks come after what other tasks.</p>
                        </div>
                    </div>
                </div><!-- End Item -->

                  <div class="item">
                    <div class="thumbnail">
                        <img src="{% static "app/img/carousel_due.png" %}" alt="Slide6">
                        <div class="caption">
                            <h3>Due Dates</h3>
                            <p>Indicate when a task is due.</p>
                        </div>
                    </div>
                </div><!-- End Item -->

                 <div class="item">
                    <div class="thumbnail">
                        <img src="{% static "app/img/carousel_abcd.png" %}" alt="Slide7">
                        <div class="caption">
                            <h3>ABCD Priorities</h3>
                            <p>Tag a task with an <i>A,</i> <i>B</i>, <i>C</i>, <i>D</i> priority. Sheldonize will automatically schedule more important tasks first.</p>
                        </div>
                    </div>
                </div><!-- End Item -->
 
                 <div class="item">
                    <div class="thumbnail">
                        <img src="{% static "app/img/carousel_today.png" %}" alt="Slide8">
                        <div class="caption">
                            <h3>Focus</h3>
                            <p>Focus by indicating whether you are doing tasks <i>Today</i> or <i>This Week</i>.</p>
                        </div>
                    </div>
                </div><!-- End Item -->
 
                 <div class="item">
                    <div class="thumbnail">
                        <img src="{% static "app/img/carousel_meeting.png" %}" alt="Slide9">
                        <div class="caption">
                            <h3>Meetings</h3>
                            <p>You can add meetings in Sheldonize and make them recurring.</p>
                        </div>
                    </div>
                </div><!-- End Item -->

                  <div class="item">
                    <div class="thumbnail">
                        <img src="{% static "app/img/carousel_google.png" %}" alt="Slide10">
                        <div class="caption">
                            <h3>Google Calendar</h3>
                            <p>You can automatically pull in your external Google Calendar meetings such that Sheldonize can take those into account.</p>
                        </div>
                    </div>
                </div><!-- End Item -->

                   <div class="item">
                    <div class="thumbnail">
                        <img src="{% static "app/img/carousel_preferences.png" %}" alt="Slide11">
                        <div class="caption">
                            <h3>Work Times</h3>
                            <p>You can personalize the scheduling by indicating what your normal working times are. Sheldonize will only schedule work within these times.</p>
                        </div>
                    </div>
                </div><!-- End Item -->

                 <div class="item">
                    <div class="thumbnail">
                        <img src="{% static "app/img/carousel_archive.png" %}" alt="Slide12">
                        <div class="caption">
                            <h3>Archive</h3>
                            <p>We offer an unlimited archive of all your tasks and meetings.</p>
                        </div>
                    </div>
                </div><!-- End Item -->

                <div class="item">
                    <div class="thumbnail">
                        <img src="{% static "app/img/carousel_stats.png" %}" alt="Slide13">
                        <div class="caption">
                            <h3>Statistics</h3>
                            <p>You can at a glance see how productive you are this week or this month with our statistics.</p>
                        </div>
                    </div>
                </div><!-- End Item -->


            </div><!-- End Carousel Inner -->
            <div class="carousel-controls">
                <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div><!-- /.carousel --> 
    </div>


</div>

<div class="row">
    <br/>
    <br/>
</div>

{% endblock content %}

{% block morejs %}
<!-- Google Analytics -->
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
     (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
     m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
     })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-53163078-1', 'auto');
ga('send', 'pageview');

</script>

{% endblock morejs %}



