{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
Feature Only For Donors
{% endblock %}

{% block header %}
<h3>Donors Only</h3>
{% endblock header %}

{% block content %}

<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-xs-12 col-md-4">

        <p>
        Sorry, this is a feature that is specially made for our donors. You can donate by visiting <a href="/subscriptions/signup_donate"/>this page</a>.
        </p>
    </div>
</div>

<div class="row">
    <br/>
    </br>
</div>

{% endblock content %}

