{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
Privacy Policy
{% endblock %}

{% block content %}
<div class="row">
  <br/>
  <br/>
</div>



<div class="row">
  <div class="col-md-3">
  </div>
  <div class="col-xs-12 col-md-6">

    <h2>Privacy Policy</h2>

    <p>
    Your and your data's privacy is important to us. We will only access your
    account to help you with problems, to fix software
    bugs, or to satisfy legal requirements. 
    </p>

    <ol>
      <li><p><strong>General Policy.</strong>

      When you sign up for Sheldonize, we asked only for your email address. We use
      this address to send you updates or essential information. We will never selll
      your personal information or content to third parties, and we will not use your
      name for marketing purposes without your permission.

      <p>When you are in contact with Sheldonize with questions, we will keep that
      correspondence and email address for future reference. 

      <p>If Sheldonize is acquired by or merged with another company, we will notify
      you well before any information about you is transferred and becomes subject to a
      different privacy policy.

      <li><p><strong>Trial period.</strong> Sheldonize does not ask the user's payment
      information at sign-up for the trial. Only when the user would decide to
      sign up for a paying account, Sheldonize will ask the user's payment information.

      <li><p><strong>Law enforcement.</strong>
      Sheldonize will hand over your data when legally required to do so. Unless we
      are legally prevented from doing so, we will always inform you when such
      requests are made.</p>

      <li><p><strong>Encryption.</strong>
      All data is encrypted via SSL/TLS when transmitted from our servers to your
      browser.

      <li><p><strong>Security of Payment.</strong>
      All payment transactions are handled by <a
      href="http://stripe.com">stripe</a>, a secure way of handling online
      payments. Sheldonize does not store your payment information.

      <li><p><strong>Questions</strong>.
      Sheldonize may update this policy.  You can access, change or delete your
      personal information at any time by contacting <a
        href="mailto:support@sheldonize.com">support@sheldonize.com</a>; you can also
      ask any other questions regarding Privacy on that address.


    </ol>
  </div>
</div>
{% endblock %}
