{% extends 'base.html' %}
{% load staticfiles %}

{% block customcss %}
<link rel="stylesheet" href="{% static "app/css/table.css" %}">
{% endblock %}

{% load crispy_forms_tags %}

{% block title %}
Support
{% endblock %}

{% block beforecontent %}
{% if addtaskform %}
<!-- Make sure that from tablets on (sm), the form is filling the full row -->
<div class="col-sm-12">
    {% crispy addtaskform %}
</div>
{% endif %}
{% endblock beforecontent %}

{% block content %}
<div class="row">
    <div class="col-sm-12">
        {% if  current_support_requests  %}
        <div class="panel panel-default">
            <div class="panel-heading">
            <h3 class="panel-title">Your Support Requests</h3>
            </div>  
            <div class="panel-body">
                <ul>
                    {% for task in current_support_requests %}
                    {% if task.done %}
                    <li>{{ task.name }} (<b>DONE</b>)</li>
                    {% else %}
                        {% if task.when == 'T' or task.when == 'W' %}
                        <li>{{ task.name }} (<b>IN PROGRESS</b>)</li>
                        {% else %}
                        <li>{{ task.name }} (<b>PENDING</b>)</li>
                        {% endif %}
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
       {% endif %}
    </div>
</div>


<div class="row">
    <div class="col-sm-12">
        <p>
        Please add a task above for our developers. We'll have a look as soon as possible!
        </p>
        <p>Or, get a <a href="http://iwokeupthismorning.net/scheduling/tutorial/2014/08/29/sheldonize-an-overview/">quick overview of how you can use Sheldonize</a>.</p>

        <p>Or, just ask us at <a href="http://twitter.com/Sheldonize">@Sheldonize</a>. We love your questions for breakfast!</p> </div>
</div>

<div class="row">
    <br/>
    </br>
</div>

{% endblock content %}


{% block morejs %}
<script src="{% static "app/js/tasks.js" %}"></script>
{% endblock %}

