{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
Terms of Use
{% endblock %}

{% block content %}
<div class="row">
  <br/>
  <br/>
</div>



<div class="row">
  <div class="col-md-3">
  </div>
  <div class="col-xs-12 col-md-6">

    <h2>Terms of Use</h2>
    <p>
    By using Sheldonize (the "Service"), you agree to be bound by the following
    terms and conditions. Sheldonize, LLC (the "Company") reserves the right, in
    its sole discretion, to update and change these Terms of Use at any time and
    without notice, and you agree to be bound by such modifications. Violation of
    the below terms may result in cancellation of your account.
    </p>

    <ol>
      <li><p><strong>Service.</strong> The Service is a time management application. You
      agree that the Service is provided AS IS and AS AVAILABLE. Technical support is
      only available via email and is at discretion of Sheldonize. The Company
      disclaims all responsibility and liability for the availability, timeliness,
      security or reliability of the Service. The Company also reserves the right to
      modify, suspend or discontinue the Service with or without notice at any time
      and without any liability to you.  </p></li>

      <li><p><strong>Personal Use</strong>.  The Service is made available to you for
      your personal use only. Your login may be used by you only -- you cannot use a
      single login for different persons. You may create separate logins for
      yourself. You must be a human. Accounts registered by automated means are not
      allowed. Due to the Children's Online Privacy Protection Act of 1998 (which is
      available at <a
        href="http://www.ftc.gov/ogc/coppa1.htm">http://www.ftc.gov/ogc/coppa1.htm</a>),
      you must be at least thirteen (13) years of age to use this Service. You must
      provide current, accurate identification, contact, and other information that
      may be required as part of the registration process and/or continued use of the
      Service. You are responsible for maintaining the confidentiality of your
      Service password and account, and are responsible for all activities that occur
      thereunder. The Company reserves the right to refuse service to anyone at
      any time without notice for any reason.  </p>

      <li><p><strong>Proper Use</strong>.
      You agree that you are responsible for your own communications and for any
      consequences thereof. You agree that you will use the Service in compliance
      with all applicable local, state, national, and international laws, rules and
      regulations, including any laws regarding the transmission of technical data
      exported from your country of residence. You shall not, shall not agree to, and
      shall not authorize or encourage any third party to: (i) use the Service to
      upload, transmit or otherwise distribute any content that is unlawful,
      defamatory, harassing, abusive, fraudulent, obscene, contains viruses, or is
      otherwise objectionable as reasonably determined by the Company; (ii) upload,
      transmit or otherwise distribute content that infringes upon another party's
      intellectual property rights or other proprietary, contractual or fiduciary
      rights or obligations; (iii) prevent others from using the Service; or (iv) use
      the Service for any fraudulent or inappropriate purpose.  Violation of any of
      the foregoing may result in immediate termination of this Agreement, and may
      subject you to state and federal penalties and other legal consequences.
      Sheldonize LLC (the "Company") reserves the right, but shall have no
      obligation, to investigate your use of the Service in order to determine
      whether a violation of the Agreement has occurred or to comply with any
      applicable law, regulation, legal process or governmental request.



      </p>


      <li><p><strong>Content of The Service</strong>.
      Sheldonize takes no responsibility for third party content (including, without
      limitation, any viruses or other disabling features), nor does Sheldonize have
      any obligation to monitor such third party content. Sheldonize reserves the
      right at all times to remove or refuse to distribute any content on the
      Service, such as content which violates the terms of this Agreement. Sheldonize
      also reserves the right to access, read, preserve, and disclose any information
      as it reasonably believes is necessary to (a) satisfy any applicable law,
      regulation, legal process or governmental request, (b) enforce this Agreement,
      including investigation of potential violations hereof, (c) detect, prevent, or
      otherwise address fraud, security or technical issues, (d) respond to user
      support requests, or (e) protect the rights, property or safety of Sheldonize,
      its users and the public. Sheldonize will not be responsible or liable for the
      exercise or non-exercise of its rights under this Agreement.  </p>

      <li><p><strong>Intellectual Property Rights of the Company</strong>.  You
      acknowledge that Sheldonize owns all right, title and interest in and to
      the Service, including without limitation all intellectual property
      rights (the "Sheldonize Rights"), and such Sheldonize Rights are
      protected by international intellectual property laws. Accordingly, you
      agree that you will not copy, reproduce, alter, modify, or create
      derivative works from the Service. You also agree that you will not use
      any robot, spider, other automated device, or manual process to monitor
      or copy any content from the Service. The Sheldonize Rights include
      rights to (i) the Service developed and provided by Sheldonize; and (ii)
      all software associated with the Service.

      <li><p><strong>Intellectual Property Rights of the User</strong>.
      Sheldonize does not claim any ownership in any of the content that you upload,
      transmit or store in your Sheldonize account. We will not use any of your
      content for any purpose except to provide you with the Service.

      <li><p><strong>Representations and Warranties</strong>.
      You represent and warrant that (a) all of the information provided by you to
      Sheldonize to participate in the Service is correct and current; and (b) you
      have all necessary right, power and authority to enter into this Agreement and
      to perform the acts required of you hereunder.

      <li><p><strong>Privacy</strong>.
      As a condition to using the Service, you agree to the terms of the Sheldonize
      Privacy Policy as it may be updated from time to time. Sheldonize understands
      that privacy is important to you. You do, however, agree that Sheldonize may
      monitor, edit or disclose your personal information, if required to do so in
      order to comply with any valid legal process or governmental request (such as a
      search warrant, subpoena, statute, or court order), or as otherwise provided in
      these Terms of Use and the Sheldonize Privacy Policy.

      <li><p><strong>Account Inactivity</strong>. 
      After a period of inactivity, whereby a user fails to login to an account for a
      period of 2 months, Sheldonize reserves the right to disable or terminate the
      account. If an account has been deactivated for inactivity, the username
      associated with that account may be given to another user without notice to you
      or such other party.

      <li><p><strong>Cancellation/Termination</strong>.

      You may cancel your use of the Services and/or terminate this Agreement with or
      without cause at any time by providing notice to Sheldonize at <a
          href="mailto:sheldonizellc@gmail.com">sheldonizellc@gmail.com</a>; provided,
      however, that a terminated account may continue to exist for up to two business
      days before such cancellation takes effect. Sheldonize may at any time and for
      any reason terminate the Services, terminate this Agreement, or suspend or
      terminate your account. In the event of termination, your account will be
      disabled and you may not be granted access to your account or any files or
      other content contained in your account although residual copies of information
      may remain in our system. Except as set forth above or unless Sheldonize has
      previously canceled or terminated your use of the Services (in which case
      subsequent notice by Sheldonize shall not be required), Sheldonize will notify
      you via email of any such termination or cancellation, which shall be effective
      immediately upon Sheldonize's delivery of such notice. The relevant sections of
      this Agreement shall survive expiration or termination.

      <li><p><strong>Refund Policy</strong>.
    
      When the user actively cancels the Services by clicking the appropriate
      buttons as provided by the Services, or when the user informs the Company
      at <a href="mailto:sheldonizellc@gmail.com">sheldonizellc@gmail.com</a>
      that the user wants to cancel, Sheldonize will refund the last paid fee
      in full, up to a maximum $3.99 (three US dollars and 99 cents).
      Sheldonize retains the right to refuse the refund if it suspects unfair
      use. If the user did not have a subscription, but paid the one-time
      payment of $9.99 (nine US dollars and 99 cents), a refund will be
      provided for up to 31 days after having paid that amount.

      <li><p><strong>Pricing Policy</strong>.

      The trial period is 31 days and will be provided without a cost. After 31
      days, the user is presented with the option to sign-up for a paying
      subscription to the Services or for a one-time payment in case the user
      is a student or teacher. The cost of that subscription is $3.99 (three US
      dollars and 99 cents) per month or $9.99 (nine US dollars and 99 cents)
      for a one-time payment for a student or teacher and will be collected
      automatically based on the payment information the user provides at
      sign-up for the paying subscription. To sign up for the trial version the
      user does not have to provide payment information.

      <p>If the user fails to pay the monthly subscription fee Sheldonize will cancel
      the user account immediately. No further payments will be charged to the
      user at that point.</p>

      <li><p><strong>Indemnification</strong>.

      You agree to hold harmless and indemnify Sheldonize, and its subsidiaries,
      affiliates, officers, agents, and employees from and against any third party
      claim arising from or in any way related to your use of the Service, including
      any liability or expense arising from all claims, losses, damages (actual and
      consequential), suits, judgments, litigation costs and attorneys' fees, of
      every kind and nature. In such a case, Sheldonize will provide you with written
      notice of such claim, suit or action.

      <li><p><strong>Choice of Law/Jurisdiction</strong>.

      These Terms of Use will be governed by and construed in accordance with the
      laws of the State of California, without giving effect to its conflict of laws
      provisions or your actual state or country of residence. Any claims, legal
      proceeding or litigation arising in connection with the Service will be brought
      solely in the County of San Francisco, California, and you consent to the
      jurisdiction of such courts.
      </p>

      <li><p><strong>Further Questions</strong>.
      Further questions should be sent to <a
          href="mailto:sheldonizellc@gmail.com">sheldonizellc@gmail.com</a>.

  </ol>
  </div>
</div>
{% endblock %}
